@use '../../../assets/styles/variables';
@use '../../../assets/styles/mixins';

.wrap {
  padding-top: 17px;
}



.sectionTitle {
  @include mixins.flex-center-between;
  box-sizing: border-box;
  margin: 35px 0 20px 0;
}

.sectionTitle .actionButtons {
  padding-right: 30px;
}
.section {
  /*margin-left: 10px;*/
  background-color: rgba(136, 185, 90, 0.6);
  margin-bottom: 35px;
  padding-bottom: 8px;
  padding-right: 10px;
}

.section .actionButtons {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.subsection {
  margin-left: 10px;
  background-color: rgb(206, 227, 177);
  margin-bottom: 2px;
  padding-bottom: 8px;
  padding-right: 10px;
}


.subsection .actionButtons {
  padding-right: 10px;
  padding-bottom: 10px;
}


.dish {
  margin-left: 10px;
  background-color: rgb(243, 255, 236);
  & .between {
    border-bottom: 2px solid rgb(206, 227, 177);
  }
}

button.btnEditDish {
  font-size: variables.$font-xs;
  font-weight: 600;
  text-transform: lowercase;
  min-width: 75px;
  color: variables.$green-dark;
  border-width: 1px;
  border-color: variables.$green-dark;
  border-radius: 17px;
}


button.actionButton {
  min-width: 150px;
  font-size: variables.$font-xs;
  border-width: 2px;
  font-weight: 600;
  border-color: variables.$green-dark;
  border-radius: 17px;
}
button.create {
  color: #F6F4F4;
  background-color: variables.$green-dark;
  &:hover {
    color: #215b24;
  }
}
button.edit {
  color: variables.$green-dark;
  margin-left: 10px;
}



.dishTitle {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 10px 30px;
}

.sectionName {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
}
.subsectionName {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 15px;
}

.price {
  font-size: 14px;
  font-weight: 600;
  color: #2B2626;
}

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.flexWrap {
  @include mixins.flex-center-between;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.menuItemWrap {
  @include mixins.flex-center-between;
}

.leftCol {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}




@media (max-width: 768px) {
  .menuItemWrap {
    display: block;
  }
  .flexWrap {
    justify-content: space-between;
    //flex-direction: column;
    //
    //&.between {
    //  align-items: center;
    //}
    padding-right: 10px;
  }
  .actionButtons {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .section .actionButtons {
    padding-right: 0;
  }
  .subsection {
    margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .sectionName {
    font-size: 15px;
  }
  .subsectionName {
    font-size: 15px;
  }
  .sectionTitle {
    flex-direction: column;
  }
}