.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
}

.formColumn {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.companyImg {

}

.imgWrap {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 15px;
  margin-top: 15px;
}