$active-color: #63B561;
$gray: #dddddd;
$gray-md: #CCCCCC;
$green-dark: #215b24;


$xs: 540px;
$sm: 720px;
$md: 960px;
$lg: 1140px;
$xl: 1320px;


$fontBase: 16px;

$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 24px;